<table class="styled-table">
    <thead>
        <tr>
            <th>user_id</th>
            <th>city_id</th>
            <th>min_cost_living</th>
            <th>max_cost_living</th>
            <th>bedrooms</th>
            <th>median_age</th>
            <th>min_temp</th>
            <th>max_temp</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prefer of prefers">
            <td>{{prefer.user_id}}</td>
            <td>{{prefer.city_id}}</td>
            <td>{{prefer.min_cost_living}}</td>
            <td>{{prefer.max_cost_living}}</td>
            <td>{{prefer.bedrooms}}</td>
            <td>{{prefer.median_age}}</td>
            <td>{{prefer.min_temp}}</td>
            <td>{{prefer.max_temp}}</td>
        </tr>
    </tbody>
</table>
