<!-- <table class="styled-table">
    <thead>
        <tr>
            <th>user_id</th>
            <th>city_id</th>
            <th>min_cost_living</th>
            <th>max_cost_living</th>
            <th>bedrooms</th>
            <th>median_age</th>
            <th>min_temp</th>
            <th>max_temp</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let temp of userpreference">
            <td>{{temp.user_id}}</td>
            <td>{{temp.city_id}}</td>
            <td>{{temp.min_cost_living}}</td>
            <td>{{temp.max_cost_living}}</td>
            <td>{{temp.bedrooms}}</td>
            <td>{{temp.median_age}}</td>
            <td>{{temp.min_temp}}</td>
            <td>{{temp.max_temp}}</td>
        </tr>
    </tbody>
</table> -->
