<mat-toolbar> 
    <h2>CS411 - Relocation Finder</h2>
    <ul>
<!--        <a routerLink="/user"> Users </a> -->
        <a routerLink="/zipcode"> Zipcodes </a>
        <a routerLink="/census"> Census </a>
        <a routerLink="/housing"> Housing </a>
        <a routerLink="/weather"> Weather </a>
        <a routerLink="/incentives"> Incentives </a>
<!--        <a routerLink="/prefers"> prefers </a> -->
        <a routerLink="/preference"> preference </a>
        <a routerLink="/results"> results </a>
<!--        <a routerLink="/user-info"> user-info </a> -->
<!--        <a routerLink="/login"> login </a> -->
    </ul> 
</mat-toolbar>
