<mat-toolbar color="primary"> 
    
    <a routerLink="/login"><h2>CS411 - Relocation Finder</h2></a>

    <span class="example-spacer"></span>

    <div *ngIf="currentUser">
        <h3><strong>{{ currentUser.email }}</strong></h3>
    </div>

    <div *ngIf="!currentUser">
        <h3>not logged in</h3>
    </div>

    <div style="margin-left: 20px;" *ngIf="currentUser">
        <button 
            mat-stroked-button 
            [matMenuTriggerFor]="menu" 
            style="background-color: azure; color: black;"
            >Options
        </button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/login">Login</button>
        <button mat-menu-item routerLink="/userinfo">User Info</button>
        <button mat-menu-item routerLink="/preference">Preference</button>
        <button mat-menu-item routerLink="/results">Results</button>
        </mat-menu>
    </div>

</mat-toolbar>
