/* unvisited link */
a {
    color: white;
    margin-left: 20px;
    font-size: large;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: rgb(141, 255, 147);
}

.flex-container {
    display: flex;
    width: 100%;
}

.flex-item-left {
    text-align: center;
    margin-left: 0;
}

.flex-item-right {
    margin: auto;
    margin-right: 0;
}

.example-spacer {
    flex: 1 1 auto;
  }

.user {
    background-color: wheat; 
    border: 2px solid black; 
    padding: 5px; color: black;
}