<!-- <div>
  <app-header class="toolbar"></app-header>
</div>

<div style="margin-top: 70px;" class="full-width">
  <router-outlet></router-outlet>
</div> -->

<header>
  <app-header class="toolbar"></app-header>
</header>

<main style="width: 100%;">
  <div style="margin-top: 50px;" class="full-width">
    <router-outlet></router-outlet>
  </div>
</main>

<footer>
  <div id="footer" class="mat-large">
    <a routerLink="/zipcode" style="color: lightgray;"> Zipcodes </a>
    <a routerLink="/census" style="color: lightgray;"> Census </a>
    <a routerLink="/housing" style="color: lightgray;"> Housing </a>
    <a routerLink="/weather" style="color: lightgray;"> Weather </a>
    <a routerLink="/incentives"  style="color: lightgray;"> Incentives </a>
    <a routerLink="/user" style="color: lightgray;"> Users </a>
    <br>CS411 - Relocation Finder (2020)
  </div>
</footer>