<table class="styled-table">
    <thead>
        <tr>
            <th>city_id</th>
            <th>paid_fellowship</th>
            <th>cash_payment</th>
            <th>student_loans</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let incentive of incentives">
            <td>{{incentive.city_id}}</td>
            <td>{{incentive.paid_fellowship}}</td>
            <td>{{incentive.cash_payment}}</td>
            <td>{{incentive.student_loans}}</td>
        </tr>
    </tbody>
</table>
