<mat-card>
  <h2 style="margin-bottom: 40px;">Preference</h2>
  <form class="example-form" (submit)="onSubmitPrefer(preferForm)" #preferForm="ngForm">    
    
    <!-- E-mail, FirstName, LastName, City, State, 
      PreferredMaxDistanceFromCurrentHome, PreferredCostOfLivingMax, 
      PreferredMinTemperature, PreferredMaxTemperature -->
      
    <h4>Distance</h4>
    <mat-label>Max Distance (miles)</mat-label>
    <div style="display: flex; margin-bottom: 30px;">
      <p>1</p>
      <mat-slider 
        min="1" 
        max="5000" 
        value="200" 
        class="example-full-width" 
        #distslider
        name="maxDist"
        ngModel
        required
        >
      </mat-slider>
      <p>5000</p>
      
      <input 
        matInput 
        type="number" 
        value="{{distslider.value}}" 
        class="slider-output"
        >
    </div>

    <h4>Cost</h4>
    <mat-label>Max Cost of Living</mat-label>
    <div style="display: flex; margin-bottom: 30px;">
      <p>10</p>
      <mat-slider 
        min="10" 
        max="5000" 
        value="200" 
        class="example-full-width" 
        #maxcostslider
        name="maxCost"
        ngModel
        required
        >
      </mat-slider>
      <p>5000</p>
      <input 
        matInput 
        type="number" 
        value="{{maxcostslider.value}}" 
        class="slider-output"
        >
    </div>

    <mat-label>Avg Cost of Living</mat-label>
    <div style="display: flex; margin-bottom: 30px;">
      <p>0</p>
      <mat-slider 
        min="0" 
        max="{{maxcostslider.value}}" 
        value="200" 
        class="example-full-width" 
        #avgcostslider
        name="avgCost"
        ngModel
        required
        >
      </mat-slider>
      <p>{{maxcostslider.value}}</p>
      <input 
        matInput 
        type="number" 
        value="{{avgcostslider.value}}" 
        class="slider-output"
        >
    </div>

    <h4>Demographics</h4>
    <mat-label>Average Age</mat-label>
    <div style="display: flex; margin-bottom: 30px;">
      <p>18</p>
      <mat-slider 
        min="18" 
        max="65" 
        value="30" 
        class="example-full-width" 
        #ageslider
        name="avgage"
        ngModel
        required
        >
      </mat-slider>
      <p>65</p>
      
      <input 
        matInput 
        type="number" 
        value="{{ageslider.value}}" 
        class="slider-output"
        >
    </div>
  
    <h4>Number of Bedrooms</h4>
    <div style="display: flex; margin-bottom: 40px;">
      <mat-checkbox style="margin-right: 20px" name="checkbox1" ngModel>1</mat-checkbox>
      <mat-checkbox style="margin-right: 20px" name="checkbox2" ngModel>2</mat-checkbox>
      <mat-checkbox style="margin-right: 20px" name="checkbox3" ngModel>3</mat-checkbox>
      <mat-checkbox style="margin-right: 20px" name="checkbox4" ngModel>4</mat-checkbox>
      <mat-checkbox style="margin-right: 20px" name="checkbox5" ngModel>5</mat-checkbox>
      <mat-checkbox name="checkbox6" ngModel>6</mat-checkbox>
    </div>
    
    <h4>Climate</h4>
    <div style="display: flex; margin-bottom: 20px;">
      <mat-form-field class="example-full-width">
        <mat-label>Minimum Temperature</mat-label>
        <input 
          matInput 
          type="number" 
          name="minTemp" 
          ngModel 
          required
          >
      </mat-form-field>

      <mat-form-field class="example-full-width" style="margin-left: 5%;">
        <mat-label>Maximum Temperature</mat-label>
        <input 
          matInput 
          type="number" 
          name="maxTemp" 
          ngModel
          required
          >
      </mat-form-field>
    </div>

    <button mat-raised-button type="submit" color="primary" style="margin-left: 30%; width: 40%;">Submit</button>

  </form>
</mat-card>
