
  
.example-full-width {
  width: 100%;
}

.slider-output {
  text-align: right; 
  width: 50%;
  font-size: x-large;
}

.h2-title {
  margin-bottom: 40px; 
  text-align: center; 
  background-color: rgb(224, 229, 255); 
  padding: 3%;
}

.bg {
  background-image: url("../../../assets//images/pexels-ricardo-esquivel-1563256.jpg");

  background-color: gray;

  filter: blur(5px);
  -webkit-filter: blur(5px);

  /* Full height */
  height: 100vh;


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-overlay {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
} */
