<div style="margin-top: 80px;">
  <mat-card style="text-align: center;">
    <h2>Preference Form</h2>
  </mat-card>
  
  <mat-card style="width: 50%; margin-left: 25%; margin-top: 20px;">
    <div style="margin: 10px;">
      <form (submit)="onSubmitPrefer(preferForm)" #preferForm="ngForm"> 

        <h3>Cost</h3>
        <p>Cost of Living</p>
        <div style="display: flex; margin-bottom: 20px;">
          <mat-form-field class="example-full-width">
            <mat-label>Minimum</mat-label>
            <input 
              matInput 
              type="number" 
              name="minCost" 
              #minCost
              ngModel
              required
              >
          </mat-form-field>
    
          <mat-form-field class="example-full-width" style="margin-left: 5%;">
            <mat-label>Maximum</mat-label>
            <input 
              matInput 
              type="number" 
              name="maxCost"
              #maxCost
              ngModel
              required
              >
          </mat-form-field>
        </div> 


    
        <h3>Number of Bedrooms</h3>
        <div style="display: flex; margin-bottom: 40px;">
          <mat-checkbox style="margin-right: 20px" name="checkbox1" ngModel>1</mat-checkbox>
          <mat-checkbox style="margin-right: 20px" name="checkbox2" ngModel>2</mat-checkbox>
          <mat-checkbox style="margin-right: 20px" name="checkbox3" ngModel>3</mat-checkbox>
          <mat-checkbox style="margin-right: 20px" name="checkbox4" ngModel>4</mat-checkbox>
          <mat-checkbox style="margin-right: 20px" name="checkbox5" ngModel>5+</mat-checkbox>
          <mat-checkbox name="checkbox6" ngModel>Single Family</mat-checkbox>
        </div>
  
        <h3>Region</h3>
        <div style="display: flex; margin-bottom: 8px;">
          <mat-form-field>
            <mat-label>Zip Code</mat-label>
            <input 
              matInput 
              type="number" 
              name="zipCode" 
              #zipCode
              ngModel
              optional
              >
          </mat-form-field>
        </div>
  
        <mat-label>Max Distance (miles)</mat-label>
        <div style="display: flex; margin-bottom: 30px;">
          <p>1</p>
          <mat-slider 
            min="1" 
            max="6000" 
            value="200" 
            class="example-full-width" 
            #distslider
            name="maxDist"
            ngModel
            optional
            >
          </mat-slider>
          <p>6000</p>
          
          <input 
            matInput 
            type="number" 
            value="{{distslider.value}}" 
            class="slider-output"
            >
        </div>
  
        <h3 style="margin-bottom: 8px;">Climate</h3>
        <div style="display: flex; margin-bottom: 20px;">
          <mat-form-field class="example-full-width">
            <mat-label>Minimum Temp</mat-label>
            <input 
              matInput 
              type="number" 
              name="minTemp" 
              ngModel 
              optional
              >
          </mat-form-field>
    
          <mat-form-field class="example-full-width" style="margin-left: 5%;">
            <mat-label>Maximum Temp</mat-label>
            <input 
              matInput 
              type="number" 
              name="maxTemp" 
              ngModel
              optional
              >
          </mat-form-field>
        </div>
    
        <button mat-raised-button type="submit" color="primary" style="margin-left: 30%; width: 40%; margin-top: 5px; margin-bottom: 15px;">Submit</button>
    
      </form>
    </div>
    
  </mat-card>
  
  <!-- TEMP to show results -->
  <!-- <mat-card style="margin-top: 15px;">
    <div>
      <h2 style="margin-top: 5px;">Results</h2>
      (only top 100)
    </div>
    
    <table class="styled-table">
      <thead>
          <tr>
              <th>City</th>
              <th>State</th>
              <th>County</th>
              <th>House type</th>
              <th>Mean Earning</th>
              <th>Age</th>
              <th>Income</th>
              <th>Price</th>
              <th>Latitude</th>
              <th>Longitude</th>
              <th>Score</th>

          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let result of results | slice:0:100">
              <td>{{result.city}}</td>
              <td>{{result.state}}</td>
              <td>{{result.county}}</td>
              <td>{{result.housetype}}</td>
              <td>{{result.mean_earnings}}</td>
              <td>{{result.median_age}}</td>
              <td>{{result.per_capita_income}}</td>
              <td>{{result.price}}</td>
              <td>{{result.latitude}}</td>
              <td>{{result.longitude}}</td>
              <td>{{result.score}}</td>
          </tr>
      </tbody>
    </table>
  </mat-card> -->
</div>
