.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }

  .slider-output {
    text-align: right; 
    width: 50%;
    font-size: x-large;
  }

  .h2-title {
    margin-bottom: 40px; 
    text-align: center; 
    background-color: rgb(224, 229, 255); 
    padding: 3%;
  }
  