<h2>The user create component</h2>

<mat-card>
    <!-- <form (submit)="onAddUser(userForm)" #userForm="ngForm">
        <mat-form-field class="example-form-field">
            <p>Title</p>
            <input matInput type="text" name="title" ngModel required #title="ngModel"> 
            <mat-error *ngIf="title.invalid">Please enter a title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <p>Content</p>
            <input matInput type="text" name="content" ngModel required #content="ngModel"> 
            <mat-error *ngIf="content.invalid">Please enter a content</mat-error>
        </mat-form-field>
    
        <button mat-raised-button type="submit">Save User</button>
    </form> -->
</mat-card>